@import "styles/variaveis";
@import "styles/breakpoints";


.menu{
  padding: 20px $padding-horizontal;
}

.header {
  background-image: url('/assets/logo.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 0 $padding-horizontal;
  &__text{
    color: white;
    font-size: 5rem;
    min-width: 400px;
    width: 40%;
  }
}

.cardapio{
  &__titulo{

  }
}
